.c {
  height: 100vh;
}

.c-bg {
  height: 100%;
  position: absolute;
}
.c-wrapper {
  padding: 50px;
  display: flex;
}
.c-left {
  flex: 1;
}
.c-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
.c-title {
  font-size: 60px;
  width: 80%;
}
.c-info-item {
  display: flex;
  align-items: center;
  margin: 10px 0;
  font-weight: 300;
  cursor: pointer;
}
.c-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.c-e-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
a {
  text-decoration: none;
  font-size: 20px;
}
.c-desc {
  font-weight: 200;
  text-align: center;
}
form {
  margin-top: 20px;
}
input {
  width: 50%;
  height: 50px;
  border: none;
  border-bottom: 1px solid black;
  margin: 10px 14px;
  font-style: 14px;
  padding-left: 10px;
}
textarea {
  width: 100%;
  margin: 10px 14px;
  font-style: 14px;
  padding-left: 10px;
}

button {
  border: none;
  padding: 15px;
  background-color: #59b256;
  color: white;
  font-weight: 500;
  cursor: pointer;
}

@media screen and (max-width: 580px) {
  .c {
    min-height: 200vh;
  }
  .c-wrapper {
    flex-direction: column;
    padding: 0 5px;
  }
  .c-title {
    font-style: 30px;
  }
  .c-info-item {
    margin: 20px 0;
    width: 100%;
  }
  .c-desc {
    display: none;
  }
  form {
    margin-top: 0;
    display: flex;
    flex-direction: column;
  }
  input,
  textarea {
    width: 100%;
    height: 40px;
    margin: 10px;
    margin-left: 0;
  }
  button {
    margin-top: 10px;
  }
}
